:root {
  --white: #fff;
  --black: #2e2c2c;
  --teal: #008080;
  --red: #ff0033;

  --color-foreground: var(--black);
  --color-background: var(--white);
  --error-color: var(--red);
  --input-height: 30px;
  --button-primary-background: var(--teal);
  --button-primary-color: var(--white);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

form {
  width: 100%;
}

form input {
  height: var(--input-height);
  border-radius: 10px;
  border: 1px solid gray;
}

form button[type="submit"] {
  float: right;
  height: var(--input-height);
  background-color: var(--button-primary-background);
  color: var(--button-primary-color);
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.form-validation-error {
  color: var(--error-color);
}
